menu "Application config"
    config APP_DEVICE_NAME
        string "RainMaker device name"
        default "Kitchen Light"

    config APP_DEVICE_TYPE
        string "RainMaker device type"
        default "esp.device.lightbulb"
endmenu
